# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\developer\java\appFacturas\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
